
.border{
    text-align: center;
    border: solid 20px cadetblue;
    border-radius: 50px;
    width: 400px;
    height: 300px;
    background-color: gray;
    padding: 10px;
}
.btn{
    text-align: left;
    margin: 10px;

}
.btnHelp{
    text-align: right;
    margin-left: 200px;
}

.text{
    color: red;
    font-size: 50px;
    text-align:center;
}
.current{
    text-align:center;
    background-color: red;
    width: 100px;
    height: 100px;
    font-size: 20px;
    padding: 10;
}
.textCurrent{
    text-align:center;
    color: white;
    font-size: 20;
    margin-top: 20px;
    

}
.score{
    text-align: left;
    padding: 10px;
}
.left {
    text-align:center;
    display: inline-block;
    width: 200;
    height: 200;
   
    
   

}
.middle {
    text-align:center;

    display: inline-block;
    width: 200;
    height: 200;
}
.right {
    text-align:center;
    display: inline-block;
    width: 200;
    height: 200;

}